@using UniversitySystem.Models.SpecialityModels
@model SpecialityListViewModel
@{
    ViewData["Title"] = "Specialities";
    int pageCount = 20;
    int counter = (Model.PageNumber - 1) * pageCount;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Име на специалността</th>
            <th scope="col">Име на университета</th>
            <th scope="col">Минимален бал</th>
            @if (User.Identity.IsAuthenticated && @Model.Score != 0)
            {
                <th scope="col">Шанс</th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var speciality in Model.Specialities)
        {
            counter++;
            <tr>
                <th scope="row">@counter</th>
                <td>@speciality.Name</td>
                <td>@speciality.UniversityName</td>
                <td>@speciality.MinimumScore</td>
                @if (User.Identity.IsAuthenticated && @Model.Score != 0)
                {
                    if (@speciality.MinimumScore < @Model.Score)
                    {
                        <td class="text-success"><i class="fas fa-check"></i></td>
                    }
                    else
                    {
                        <td class="text-danger"><i class="fa-regular fa-x"></i></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>

<hr />

@await Html.PartialAsync("_PaginationPartial.cshtml", @Model)