@using UniversitySystem.Models.UniversityModels
@model CurrentUniversityViewModel

@{
    ViewData["Title"] = "Universities";
    string imagePath = "/images/universityLogos/" + @Model.Image.Name + "." + @Model.Image.Extension;
    string universityUrl = "https://" + @Model.WebUrl;
    int counter = 0;
}

<h1>@Model.Name</h1>
<hr />
<div class="row">
    <div class="col-md-2 ">
        <figure>
            <img src=@imagePath height="150" />
        </figure>
    </div>
    <div class="col-md-3 ">
        <h4><i class="fa-solid fa-city"></i>@Model.City</h4>
        <h4>
            <i class="fa-solid fa-earth-americas"></i>
            <a href="@universityUrl" target="_blank">
                @Model.WebUrl
            </a>
        </h4>
    </div>
</div>

<div>
    <h2 class="text-center">Специалности</h2>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Име на специалността</th>
            <th scope="col">Минимален бал</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var speciality in Model.Specialities)
        {
            counter++;
            <tr>
                <th scope="row">@counter</th>
                <td>@speciality.Name</td>
                <td>@speciality.MinimumScore</td>
            </tr>
        }
    </tbody>
</table>
