@using UniversitySystem.Models.Contact
@model ContactViewModel
@{
    ViewData["Title"] = "Контакт";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
        <form method="post">
            <div class="form-group">
                <label asp-for="@Model.Title"></label>
                <input class="form-control" asp-for="@Model.Title" placeholder="Причината, поради кояти ни пишете" />
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.ClientEmail"></label>
                <input class="form-control" asp-for="@Model.ClientEmail" placeholder="Вашия имейл" />
                <span asp-validation-for="@Model.ClientEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Description"></label>
                <textarea id="hi" class="form-control" asp-for="@Model.Description" placeholder="Описание"></textarea>
                <span asp-validation-for="@Model.Description" class="text-danger"></span>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Изпрати</button>
            </div>
        </form>
    </div>
</div>



<script src="~/tinymce/tinymce.min.js"></script>

<script>
    tinymce.init({
        selector: '#hi',
    });
</script>